* {
    font-family: sans-serif, Arial, Helvetica;
    line-height: 1.618em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    background: url(../images/donutBackground.jpg) no-repeat center
    center;
    
     background-color: rgb(224, 94, 146); 
}

header{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    font-size: large;
    color: #EEEEEE;
   
}

#cookieLink{
    text-decoration: none;
    color: #EEEEEE;
}

#gitLink{
    text-decoration: none;
    color: #EEEEEE;
    
}

#mainTitle {
    background: rgb(91, 187, 163);
    padding: 5px;
    display: flex;
    border-radius: 5px;
    color: rgb(254, 254, 254);
   
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    flex-flow: row;
    justify-content: center;

    background: #652D14;
    
    font-size: 20px
    
   

    
}

nav p{
    padding: .5em 2em;
    color: #EEEEEE;
    font-size: 22px;
    
}




main button{
    background-color: #E05E92;
    font-size: large;
    color: #FEFEFE
    
    
}



.donutGame{
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}

.buttonContainer{
    display: flex;
    flex-flow: column;
    padding-top: 25px;
    
    
}

.textContainer{
    margin-top: 50px;
    padding: 10px;
    display: flex;
    flex-flow: column;
    background-color: #652D14;
    color: #EEEEEE;
    font-size: 24px;
    border-radius: 7px ;
    


    
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    
  }
  
  .modal-content {
    background-color:pink;
    margin: auto;
    padding: 20px;
    border: 5px solid #5BBBA3;
    width: 80%;
    color: black;
    font-size: 24px;
    
    
  }
  

  .close {
    color:black;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  


  
